<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>新增餐品</title>

    <link rel="stylesheet" href="/stylesheets/base.css"/>
    <link rel="stylesheet" href="/css/bootstrap3.min.css"/>

    <link rel="stylesheet" href="/css/jquery.toast.min.css"/>

    <script src="/js/jquery-1.12.4.min.js"></script>
     <script src="/js/jquery.toast.min.js"></script>
    
</head>
<body>

<div class="container" style="margin:0 auto;width:80%;">
    餐品名称：
    <input type="text" id="foodname" class="form-control"/> <br>
    <button class="btn btn-primary" id="sub">新增</button>
</div>

</body>
</html>
<script>
    $(function(){
        $("#sub").on("click",function(){
        
            var foodval=$.trim($("#foodname").val());
            if(foodval){
                $.ajax({
                    url: '/food/addAction',
                    method: 'post',
                    data: {foodval: foodval},
                    success: function (data) {
                        if (data['msg'] == 'success') {
                            $.toast({text: "新增成功", position: 'mid-center'});
                        }

                    },
                    error: function () {
                        $.toast({text: "请求错误", position: 'mid-center'});
                    }

            });
            }
        });
        // $("#deleteFood").on("click",function(){
        //     // $("#addFood").modal("show")
        // });
    })
</script>
