<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传菜单图片</title>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/fileUpload/jquery.ui.widget.js"></script>
    <script src="js/fileUpload/jquery.iframe-transport.js"></script>
    <script src="js/fileUpload/jquery.fileupload.js"></script>
</head>
<body>
    <div class="container">
        <input type="file" name="files" id="file_upload">
        <br>
        <div id="imgdiv"><img src="<%= path %>" alt="" width="200" height="200" /></div>
    </div>
</body>
</html>
<script>
    $('#file_upload').fileupload({
        //autoUpload:false,//是否自动上传
        dataType: 'json',
        url: "/uploadfile/uploadFile", //上传地址，将name=files[]传入后台。
        done: function (e, data) {

            $('img').attr('src', data.result.path).attr('style', 'width:200px;height:200px;') ;

        }

    });
</script>